<div id="loop" class="Container-Small">
	{{#foreach posts}}
		<article>
			<header>
				<section class="title">
					<a href="{{url}}"><h1>{{title}}</h1></a>
					{{#if tags}}
						<p>
							{{#author}}
								by <a href="{{url}}">{{name}}</a> for
							{{/author}}
							{{tags separator=" & "}}
						</p>
					{{else}}
						{{#author}}
							<p>by <a href="{{url}}">{{name}}</a></p>
						{{/author}}
					{{/if}}
				</section>
			</header>
			<section class="excerpt">
				<p>{{excerpt words="40"}}...<a href="{{url}}" class="readmore">read more</a></p>
			</section>
			<footer>
				<hr/>
			</footer>
		</article>
	{{/foreach}}
		{{pagination}}
</div>
