{{! navigation template}}
<div id="site-nav">
	<div class="wrapper Container-Large">
		<header>
			{{#if @blog.logo}}
				<a href="{{@blog.url}}"><img class="site-logo" src="{{@blog.logo}}"/></a>
			{{else}}
				<a href="{{@blog.url}}"><h1>{{@blog.title}}</h1></a>
			{{/if}}
		</header>
		<ul>
			{{#foreach navigation}}
				{{#if @blog.logo}}
				<a href="{{url absolute='true'}}"><li class="margin {{#if current}}current{{/if}}">{{label}}</li></a>
				{{else}}
					<a href="{{url absolute='true'}}"><li class="{{#if current}}current{{/if}}">{{label}}</li></a>
				{{/if}}
			{{/foreach}}
		</ul>
	</div>
	<div style="float:none;"></div>
</div>
