<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/font.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/reset.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
	{{navigation}}
	<div class="Container-Large">
		{{{body}}}
	</div>
    {{> "footer"}}
    {{ghost_footer}}
</body>
</html>
