{{!< default}}
{{! index template, this is for home.}}
<div class="Container-Small">
  {{#is "home"}}
    <section id="site-frontpage">
      {{#if @blog.logo}}
        <header>
          <a href="{{@blog.url}}"><img src="{{@blog.logo}}" class="site-logo-large" /></a>
          <h1>{{@blog.title}}</h1>
          {{#if @blog.description}}
            <h3>{{@blog.description}}</h3>
          {{/if}}
        </header>
      {{else}}
        <header>
          <h1>{{@blog.title}}</h1>
        </header>
      {{/if}}
    </section>
  {{/is}}
  {{> "loop"}}
</div>
